# Math Library

In [2]:
import math

In [3]:
# gcd() greatest common divisor

# returning the gcd of 15 and 5 
print("The gcd of 5 and 15 is : ", end="") 
print(math.gcd(5,15))

The gcd of 5 and 15 is : 5

In [4]:
# ceiling and floor

a = 10.24
print(math.ceil(a))
print(math.floor(a))

11
10

In [7]:
#absolute value (fabs)

a = -10

print(math.fabs(a))
print ("The absolute value of", a ," is : ", math.fabs(a)) 

b = -20
abs(b)

math.

10.0
The absolute value of -10  is :  10.0

20

In [5]:
# returning the factorial of 5

b = 5

print ("The factorial of 5 is : ", end=" ") 
print (math.factorial(b))

The factorial of 5 is :  120

# Random Library

In [15]:
import random

random.randint(1, 2)

2

In [58]:
random.random()

0.14750359164614735

In [21]:
for i in range(5):
    print(random.randrange(3, 100, 5))

98
43
3
18
68

In [70]:
random.randrange(6, 100, 6)

12

In [22]:
coin_toss = ['head', 'tail']
print("And it is : ", random.choice(coin_toss))

And it is :  head

# time

In [23]:
import time

# time() 

seconds = time.time()
print("Seconds since epoch =", seconds)

# January 1, 1970, 00:00:00 at UTC is epoch (the point where time begins).

Seconds since epoch = 1570254391.9621334

In [24]:
s1 = time.time()

In [27]:
# ctime()

# seconds passed since epoch

local_time = time.ctime(seconds)
print("Local time:", local_time)
type(local_time)

Local time: Sat Oct  5 11:16:31 2019

str

In [28]:
# sleep()

print("This is printed immediately.")
time.sleep(5)
print("This is printed after 10 seconds.")

This is printed immediately.
This is printed after 10 seconds.

In [30]:
# The localtime() function returns struct_time in local time.

result = time.localtime()
print("result:", result)

# year = int(result.tm_year)

print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)        # 0 >> monday

result: time.struct_time(tm_year=2019, tm_mon=10, tm_mday=5, tm_hour=11, tm_min=19, tm_sec=19, tm_wday=5, tm_yday=278, tm_isdst=0)

year: 2019
month:  10
day:  5
tm_hour: 11
minute:  19
weekday:  5

In [80]:
result = time.gmtime()

print("result:", result)
print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)

result: time.struct_time(tm_year=2019, tm_mon=9, tm_mday=8, tm_hour=8, tm_min=54, tm_sec=48, tm_wday=6, tm_yday=251, tm_isdst=0)

year: 2019
month:  9
day:  8
tm_hour: 8
minute:  54
weekday:  6

# strftime() : string from time

In [19]:
current_time = time.localtime() # get struct_time

print(current_time)
print(type(current_time))

time_string = time.strftime("%m/%d/%Y, %H:%M:%S", current_time)

print(time_string)
print(type(time_string))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=12, tm_hour=20, tm_min=6, tm_sec=45, tm_wday=3, tm_yday=255, tm_isdst=0)
<class 'time.struct_time'>
09/12/2019, 20:06:45
<class 'str'>

# strptime() : converts str to time

In [88]:
time_string = "10 September, 2019"


result = time.strptime(time_string, "%d %B, %Y")
print(result)
print(type(result))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=10, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=253, tm_isdst=-1)
<class 'time.struct_time'>

# RegEx Library

    findall	>>  Returns a list containing all matches

    search	>>  Returns a Match object if there is a match anywhere in the string
    
    split	>>  Returns a list where the string has been split at each match
    
    sub	    >>  Replaces one or many matches with a string

In [2]:
import re

## findall

In [4]:
str1 = "The rain in spain - 9898"

x = re.findall("\d\d", str1)            # re.findall(expression, string)
print(x)

y = re.findall("x", str1)
print(y)

# x.span()

['98', '98']
[]

## search

In [10]:
str1 = "The rain in Spain - 9898"

x = re.search("\d\d", str1)
x.span()
x.group()

# y = x.span()
# z = x.group()

# # print(x)

# print(y, z)

# # print(type(z))

'98'

## split

In [12]:
str1 = "The rain in Spain"

# x = re.split(" ", str1)
# print(x)

x = re.split(" ", str1, 2)
print(x)

['The', 'rain', 'in Spain']

## sub

In [16]:
str1 = 'Hello world world'

str2 = re.sub('world', 'friend', str1, 1)
str2

# re.sub?

'Hello friend world'

## compile

In [17]:
exp = re.compile('^Hello.*World$')

y = exp.search('Hello   @@@@@@    World')
y

In [114]:
str1 = "The rain in Spain"

x = re.sub(" ", "_", str1)
print(x)

y = re.sub("\s", "_", str1, 1)         # specifying the count
print(y)

The_rain_in_Spain
The_rain in Spain

In [119]:
str1 = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[A-m]", str1)        # A-Z and a-m
print(x)

['T', 'h', 'e', 'a', 'i', 'i', 'S', 'a', 'i']

In [135]:
str1 = "hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("^From:", str1)
print(x)

['hello world']

In [18]:
def add(a=5, b=10):
    return a+b
    
add(10, 20)

30

In [33]:
l = ['hello world', 'hello', 'hi', 'friend']

x=[]
for i in s1:
    a = re.search('^h.*', i)
    if a!=None:
        x.append(a.group()) 

print(x)


s = '''hello world hello hi friend'''
s1 = re.split(' ', s)
s1

['hello', 'hello', 'hi']

['hello', 'world', 'hello', 'hi', 'friend']

# Pandas

In [1]:
import pandas as pd

In [2]:
company   = ['Maruti', 'Honda', 'Hyundai', 'Tata' ]
names     = ['800', 'City', 'i20', 'Indica']
speeds    = [120, 220, 180, 160]
cylinders = [3, 4, 4, 4]
cc        = [800, 1500, 1200, 1200]
p_steering  = [False, True, True, True]

d = {"Company": company, "Name": names, "Top Speed": speeds, "Cylinders": cylinders,
     "CC": cc, "Power Steering": p_steering }

In [6]:
df = pd.DataFrame(d)
df
# df.iat[0,1]

   Company    Name  Top Speed  Cylinders    CC  Power Steering
0   Maruti     800        120          3   800           False
1    Honda    City        220          4  1500            True
2  Hyundai     i20        180          4  1200            True
3     Tata  Indica        160          4  1200            True

In [7]:
df.iat[0,1]

'800'

In [38]:
len(df)

4

In [9]:
df[df['Top Speed']>160]

   Company  Name  Top Speed  Cylinders    CC  Power Steering
1    Honda  City        220          4  1500            True
2  Hyundai   i20        180          4  1200            True

In [49]:
df_1 = df[df['Top Speed']>160]
df_1

   Company  Name  Top Speed  Cylinders    CC  Power Steering
1    Honda  City        220          4  1500            True
2  Hyundai   i20        180          4  1200            True

In [142]:
df[df['Top Speed']>150]

   Company    Name  Top Speed  Cylinders    CC  Power Steering
1    Honda    City        220          4  1500            True
2  Hyundai     i20        180          4  1200            True
3     Tata  Indica        160          4  1200            True

In [51]:
df[df['Top Speed']>150]
df

   Company    Name  Top Speed  Cylinders    CC  Power Steering
0   Maruti     800        120          3   800           False
1    Honda    City        220          4  1500            True
2  Hyundai     i20        180          4  1200            True
3     Tata  Indica        160          4  1200            True

In [53]:
df.iat[2,1]

'i20'

In [145]:
df.to_csv("cars.csv")

In [14]:
# compile() creates regular expression character class [a-e], 
# which is equivalent to [abcde]. 
# class [abcde] will match with string with 'a', 'b', 'c', 'd', 'e'. 
p = re.compile('[a-e]') 
  
# findall() searches for the Regular Expression and return a list upon finding 
print(p.findall("Aye, said Mr. Gibenson Stark")) 

# \d is equivalent to [0-9]. 
p = re.compile('\d') 
print(p.findall("I went to him at 11 A.M. on 4th July 1886")) 
  
# \d+ will match a group on [0-9], group of one or greater size 
p = re.compile('\d+') 
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['e', 'a', 'd', 'b', 'e', 'a']
['1', '1', '4', '1', '8', '8', '6']
['11', '4', '1886']

In [9]:
s2 = time.time()

In [10]:
x = int(s2)-int(s1)
x

3